a,
a:hover,
a:active,
a:visited {
    color: #ff6600;
}

p {
    margin: 0 0 10px 0;
}

.white-text,
a.white-text
.white-text a {
    color: #fff !important;
}

.button {
    margin: 20px 0;
    font-size: 20px;
}

.button a,
a.button {
    padding: 5px 10px;
    background-color: #ff7f2a;
    color: #fff;
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

/* POSITIONING STYLES */

.container-1 {
    width: 340px;
    padding: 20px;
    float: left;
}

.container-2 {
    width: 680px;
    padding: 20px;
    float: left;
}

.center {
    float: none;
    margin: 0 auto;
}

/* LIST STYLES */

.list-row {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #2b1100;
}

a.list-row {
    display: block;
    text-decoration: none;
    color: #2b1100;
}

.list-image {
    float: left;
    margin-right: 20px;
}

.list-image img {
    width: 300px;
}
