a,
a:hover,
a:active,
a:visited {
    color: #ff6600;
}

p {
    margin: 0 0 10px 0;
}

.flush-left {
    text-align: left;
}

.flush-right {
    text-align: right;
}

.white-text,
a.white-text,
.white-text a {
    color: #fff !important;
}

.brown-text.,
a.brown-text,
.brown-text a {
    color: #2b1100 !important; 
}

.button {
    display: block;
    margin: 5px 0;
    padding: 5px 10px;
    font-size: 20px;
    background-color: #ff7f2a;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.button:hover,
.button:active,
.button:visited {
    color: #fff;
}

.approve-button {
    background-color: green;
}

.discard-button {
    background-color: brown;
}

.bold {
    font-weight: bold;
}

/* POSITIONING STYLES */

.container-1 {
    width: 340px;
    padding: 20px;
    float: left;
}

.container-2 {
    width: 680px;
    padding: 20px;
    float: left;
}

.center {
    float: none;
    margin: 0 auto;
}

/* LIST STYLES */

.list-row {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #2b1100;
}

a.list-row {
    display: block;
    text-decoration: none;
    color: #2b1100;
}

.list-image {
    float: left;
    margin-right: 20px;
}

.list-image img {
    width: 300px;
}

/* TABLE STYLES */

.detail-category {
    background-color: #552200;
    color: #ffccaa;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
}

.detail-parameters {
    width: 100%;
    margin-bottom: 10px;
    border-spacing: 0;
}

.detail-parameters th {
    background-color: #552200;
    color: #ffccaa;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 20px;
}

.detail-parameters td {
    padding: 5px 10px;
}

.detail-image {
    width: 100%;
    margin-bottom: 50px;
}

.detail-cost {
    font-size: 20px;
}

.detail-parameter {
    width: 40%;
}

